# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
venv/
env/
ENV/

# Streamlit
.streamlit/

# Database
*.db
